.rcw-conversation-container > .rcw-header {
    background-color: white;
    color: black;
    box-shadow: whitesmoke;
  }
  .rcw-messages-container {
    /* background-color: #fff; */
    height: 50vh;
    max-height: 410px;
    overflow-y: scroll;
    padding-top: 10px;
    -webkit-overflow-scrolling: touch;
    background-color: #f4f7f9;
}

.rcw-response .rcw-message-text {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    max-width: 215px;
    text-align: left;
}
.rcw-client .rcw-message-text {
    background-color: rgb(0, 140, 255);
    border-radius: 10px;
    padding: 15px;
    max-width: 215px;
    text-align: left;
    color: white;
}

.rcw-sender {
    align-items: center;
    display: flex;
    background-color: white;
    height: 45px;
    padding: 5px;
    border-radius: 0 0 10px 10px;
}

.rcw-new-message {
    width: 100%;
    border: 0;
    background-color: white;
    height: 30px;
    padding-left: 15px;
    resize: none;
}
button {
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: white;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}





  /* .rcw-message > .rcw-response {
    background-color: black;
    color: white;
  } */
  .new-message{
      background-color: chartreuse;
  }

  .button{
      height: 100px;
  width:100px;
  border-radius: 50px;
  
    }
    .widget
    {
        height: 50vh;
    }
/*         
    }
    .rcw-widget-container {
        bottom: 0;
        display: flex;
        flex-direction: column;
        margin: 0 20px 20px 0;
        max-width: 370px;
        position: fixed;
        right: 0;
        width: 10% !important;
        height: 400px;
        z-index: 9999;
    } */

    .container {
        bottom: 10%;
        display: flex;
        flex-direction: column;
        margin: 20px 20px 20px 100px;
        max-width: 370px;
        position: fixed;
        right: 10%;
        background-color: rgb(19, 182, 247);
        padding: 10px;
        border-radius: 10px;
        z-index: 10000;
        
    }
    .inputs{
        margin-top: 20px;
        height: 25px;
        width: 200px;
        border-radius: 10px;

        
    }
    .warningmsg{
        color: rgb(236, 71, 71);
        font-size: 15px;
    }
    .testarea{
        height: 10vh;
    }
    